.card {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  margin: 20px 4px;
}

.cardText {
  margin: 0;
  line-height: 1.5;
}

.cardContent {
  margin: 20px 18px;
}

.img {
  border-radius: 20px;
}

.btn {
  background-color: rgb(252, 189, 0);
  border: 0px;
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
